@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;800&family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 216 28% 7%;

    --card: 0 0% 100%;
    --card-foreground: 216 28% 7%;

    --popover: 0 0% 100%;
    --popover-foreground: 216 28% 7%;

    --primary: 216 28% 7%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 20% 65%;
    --secondary-foreground: 0 0% 100%;

    --muted: 214 32% 91%;
    --muted-foreground: 215 16% 47%;

    --accent: 18 95% 55%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 214 32% 91%;
    --input: 214 32% 91%;
    --ring: 18 95% 55%;

    --radius: 0.25rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-family: "Roboto", sans-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
  }
}
